<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/img/favicon.png" type="image/png">
        <title>MeetMe Personal</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/info/css/bootstrap.css">
        <link rel="stylesheet" href="/info/vendors/linericon/style.css">
        <!-- <link rel="stylesheet" href="/info/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="/css/fontawesome-all.min.css">
        
        <link rel="stylesheet" href="/info/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/info/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/info/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/info/vendors/animate-css/animate.css">
        <link rel="stylesheet" href="/info/vendors/popup/magnific-popup.css">
        <link rel="stylesheet" href="/info/vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="/info/css/style.css">
        <link rel="stylesheet" href="/info/css/responsive.css">
        <!-- CSS here -->
        <%- include ('./elements/css') %>
    </head>
    <body>
        <!-- Preloader Start -->
        <%- include ('./elements/preloader') %>
    <!-- Preloader Start-->
        <header>
        <!-- Header Start -->
        <%- include ('./elements/header') %>
        <!-- Header End -->
        </header>
        <section class="home_banner_area">
            <div class="container box_1620">
                <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <!-- <div class="d-flex">
                            <img src="img/personal.jpg" alt="">
                        </div> -->
                        <% info.rows.forEach(function(item) { %>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>Tôi là</h6>
                                <h3><%= item.name %></h3>
                                <p><%= item.bio %></p>
                                <ul class="list basic_info">
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i><%= item.date %></a></li>
                                    <li><a href="#"><i class="lnr lnr-phone-handset"></i><%= item.phone %></a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i> <%= item.email %></a></li>
                                </ul>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </body>
    <footer>
        <!-- Footer Start-->
        <%- include ('./elements/footer') %>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
	<%- include ('./elements/js') %>