<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .w3-btn {
            margin-bottom: 10px;
            text-align: center;
        }
    </style>

    <!-- CSS here -->
    <%- include ('./elements/css') %>
</head>

<body>
    <!-- Preloader Start -->
    <%- include ('./elements/preloader') %>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <%- include ('./elements/header') %>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                data-background="img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Get your job</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="small-section-tittle2 mb-45">
                                    <div class="ion"> <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
                                            <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                                d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                        </svg>
                                    </div>
                                    <h4>Filter Jobs</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <div class="job-category-listing mb-50">
                            <!-- single one -->
                            <div class="single-listing">
                                <div class="small-section-tittle2">
                                    <h4>Job Category</h4>
                                </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select name="category" id="category">
                                        <option value="All">All category</option>
                                        <option value="Sale/Digital">Sale/Digital</option>
                                        <option value="IT">IT</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-listing">
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="small-section-tittle2">
                                    <h4>Job Type</h4>
                                </div>
                                <div class="select-job-items2">
                                    <select name="type" id="type">
                                        <option value="All">All Type</option>
                                        <option value="Full-time">Full Time</option>
                                        <option value="Part-time">Part Time</option>
                                        <option value="Remote">Remote</option>
                                        <option value="Freelance">Freelance</option>
                                    </select>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <!-- single two -->
                            <div class="single-listing">
                                <div class="small-section-tittle2">
                                    <h4>Job Location</h4>
                                </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select name="location" id="location">
                                        <option value="All">Anywhere</option>
                                        <option value="TP.HCM">TP. Hồ Chí Minh</option>
                                        <option value="Hà Nội">Hà Nội</option>
                                        <option value="Đà Nẵng">Đà Nẵng</option>
                                    </select>
                                </div>
                                <!--  Select job items End-->
                            </div>
                            <br>
                            <div class="row">
                                <br>
                            </div>
                            <div class="btn-select">
                                <a href="#" id="find-filter"><button
                                        class="w3-btn w3-white w3-border w3-border-red w3-round-large"
                                        id="find-filter-btn">Tìm kiếm</button></a>
                            </div>

                        </div>
                        <!-- Job Category Listing End -->
                    </div>
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <form action="#" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Job Tittle or keyword" id="search"
                                            name="search">
                                    </div>
                                    <div class="search-form">
                                        <a href="#" id="find">Find job</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- single-job-content -->
                                <% jobs.rows.forEach(function(job) { %>
                                <div class="single-job-items mb-30">
                                    <div class="job-items">
                                        <div class="company-img">
                                            <a href="job_details/id=<%= job.idcongviec %>"><img
                                                    src="/img/icon/<%= job.idcongviec %>.png" alt=""></a>
                                        </div>
                                        <div class="job-tittle">
                                            <a href="job_details/id=<%= job.idcongviec %>">
                                                <h4><%= job.tencongviec %></h4>
                                            </a>
                                            <ul>
                                                <li><%= job.macongty %></li>
                                                <li><i class="fas fa-map-marker-alt"></i><%= job.diadiem %></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="items-link f-right">
                                        <a href="job_details/id=<%= job.idcongviec %>"><%= job.dacdiem %></a>
                                        <span><%= job.ngaydang %></span>
                                    </div>
                                </div>
                                <% }) %>
                                <!-- single-job-content -->
                            </div>
                        </section>
                        <!-- Featured_job_end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Job List Area End -->
        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <nav aria-label="Page navigation example" class="display-pages">
                                    <ul class="pagination" id="pages">
                                    </ul>
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination End  -->

    </main>
    <footer>
        <!-- Footer Start-->
        <%- include ('./elements/footer') %>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <%- include ('./elements/js') %>

</body>
<script>

    (function () {
        const pages = "<%= numbersOfPages %>";
        let href = window.location.pathname + "?page=";
        let find = "";
        let search = "";
        let indexOfSearch = -1;
        indexOfSearch = window.location.href.indexOf("&search");
        if (window.location.href.includes('find')) {
            const substr = window.location.href.indexOf('&');
            if (indexOfSearch !== -1) {
                find = window.location.href.substring(substr, indexOfSearch);
            }
        }

        if (indexOfSearch !== -1) {
            search = window.location.href.substring(indexOfSearch);
        }
        for (let i = 1; i <= pages; i++) {
            const ul = document.getElementById('pages');
            const li = document.createElement("li");
            const a = document.createElement("a");
            a.appendChild(document.createTextNode(i));
            a.setAttribute("class", "page-link");
            a.setAttribute("href", href + i.toString() + find + search);
            li.appendChild(a);
            li.setAttribute("class", "page-item");
            ul.appendChild(li);
        }
    })();



    function getType() {
        var value = document.getElementById('type').options[document.getElementById('type').selectedIndex].value;
        if (value === 'All') {
            return 'All';
        }
        else if (value === 'Full-time') {
            return 'Full-time';
        }
        else if (value === 'Part-time') {
            return 'Part-time';
        }
        else if (value === 'Remote') {
            return 'Remote';
        }
        else if (value === 'Freelance') {
            return 'Freelance';
        }
        return '';
    }

    function getCategory() {
        var value = document.getElementById('category').options[document.getElementById('category').selectedIndex].value;
        if (value === 'All') {
            return 'All';
        }
        else if (value === 'Sale/Digital') {
            return 'Sale/Digital';
        }
        else if (value === 'IT') {
            return 'IT';
        }
        return '';
    }

    function getLocation() {
        var value = document.getElementById('location').options[document.getElementById('location').selectedIndex].value;
        if (value === 'All') {
            return 'All';
        }
        else if (value === 'TP.HCM') {
            return 'TP.HCM';
        }
        else if (value === 'Hà Nội') {
            return 'Hà Nội';
        }
        else if (value === 'Đà Nẵng') {
            return 'Đà Nẵng';
        }
        return '';
    }

    function findFilter() {
        const type = getType();
        const category = getCategory();
        const location = getLocation();
        if (type === 'All' && category === 'All' && location === 'All') {
            return;
        }
        document.getElementById('find-filter').href = '/job_listing/find?page=1&category=' + category + '&type=' + type + '&location=' + location;
    }
    document.getElementById('find-filter-btn').onclick = findFilter;

    function search() {
        let searchValue = document.getElementById('search').value;
        console.log(searchValue);
        for (let i = 0; i < searchValue.length; i++) {
            if (searchValue[i] === ' ') {
                searchValue = searchValue.replace(searchValue[i], '+');
            }
        }
        searchValue = "&search=" + searchValue;
        let href = window.location.href;
        const firstIndex = href.indexOf("page");
        let lastIndex;
        let i = firstIndex;
        for (i; ; i++) {
            if (href[i] === '&') {
                break;
            }
            if (href[i] === undefined) {
                break;
            }
            lastIndex = i;
        }
        lastIndex++;
        const str = href.substring(firstIndex, lastIndex);

        href = href.replace(str, "page=1");

        if (href.includes("&search")) {
            const indexOfSearch = href.indexOf("&search");
            const searchString = href.substring(indexOfSearch);
            href = href.replace(searchString, "");
        }
        href += searchValue;
        document.getElementById('find').href = href;
    }
    document.getElementById('find').onclick = search;


</script>

</html>