<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main2.css">
    <!-- CSS here -->
    <%- include ('./elements/css') %>
    <style>
		h4 {
		  text-align: center;
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <%- include ('./elements/preloader') %>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <%- include ('./elements/header') %>
        <!-- Header End -->
    </header>
    <section>
        <h4>Đăng nhập thành công</h4>
        <br>
        <a href="/"><button class="center-submit submit-decoration">Quay về trang chủ</button></a>
        <br>
        <br>
    </section>

    <footer>
        <!-- Footer Start-->
        <%- include ('./elements/footer') %>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <%- include ('./elements/js') %>

</body>

</html>